 body{
    background-image: url("Style\ bg.png");
    background-size: cover;
}
.login_div1 , .login_div2
{
    background: rgb(255, 157, 0);
    padding: 10px;
    float: none;
    border-radius: 15px; 
    width: 50%;
}